// variables
$clr-orange: #ff651b;
$clr-light-orange: #fee3af;
$clr-white: #fff;  
$clr-dark: #373737;
$clr-yellow: #FEC348;
$clr-floral: #FFF9EE;
$clr-pale-orange: #FFDBC7;
$clr-bg: rgba(254, 196, 72, 0.1);

@mixin button {
  border: none;
  outline: none;
  background-color: $clr-orange;
  padding: 0.8rem 1.5rem;
  box-shadow: 5px 5px 0 1px #373737;
  color: $clr-white;
  text-transform: uppercase;
  transition: 0.5s ease;

  &:hover{
    background-color: $clr-dark;
    box-shadow: 5px 5px 0 1px $clr-orange;

  }
}

@mixin yelloButton {
  background-color: $clr-yellow;
  box-shadow: 5px 5px 0 1px $clr-orange;
  color: $clr-dark;
  font-weight: 700;
  // margin: 1rem;

  &:hover{
    background-color: $clr-orange;
    box-shadow: 5px 5px 0 1px $clr-yellow;
    color: $clr-white;
  }
  
}

@mixin backgroundShape {
  background-color: $clr-light-orange;
    width:220px;
    height: 400px;
    position: fixed;
    left: 160px;
    top: -40px;
    z-index: 0;
    border-radius: 3rem;
    transform: rotate(45deg);
}

@mixin classic {
    border: 2px solid $clr-dark;
    display: flex;
    transition: 0.5s ease;

    &:hover {
      box-shadow: 5px 5px 0 1px $clr-dark;
    }
}

@mixin gridFlow {
  padding: 2rem;
  margin: 1rem 0;

svg {
  width: 80px;
  height: 80px;
  background-color: $clr-white;
  padding: 0.5rem;
  border: 2px solid #000;
}
.content {
  padding-left: 1rem;
}
.h3 {
  padding-bottom: 0.5rem;
}
}

@mixin actions {
  background-color: $clr-dark;
  color: $clr-white;
  text-align: center;
  padding: 3rem;
  

  h2 {
    font-size: 1.3rem;
  }

  button {
    @include button;
    @include yelloButton;
    margin: 1rem;
  }
}

@mixin responsiveActions {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  h2 {
    font-size: 2.3rem;
    width: auto;
  }
}
